html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  font-weight: 400;
  font-family: 'Verdana';
  color: #111;
  line-height: 1.6;
  text-rendering: optimizeLegibility !important;
}

@media (min-width: 600px) {
  body {
    justify-content: center;
  }
}

section.app .container {
  align-items: center;
  justify-content: center;
}

section.app .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
    max-width: 50%;
}

.name {
    max-width: 50%;
    animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0%  { opacity: 0; width: 0%; }
    40% { opacity: 0.4; width: 40%; }
    60% { opacity: 0.6; width: 60%; }
    100% { opacity: 1; width:100% }
}

p {
    margin-bottom: 1em;
}

body p:last-child { 
    margin-bottom: 0em;
}

